body{ /* dit is de code voor elke body text als je die aanroept in de code */
  font-family: Barlow Semi Condensed;
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed?query=barl);
  color: black;  
  font-weight: 100;
  background-color: #FFFFFF; 
 
}

h1 { /* dit is de code voor elke h1 als je die aanroept in de code */
  font-family: Mukta Malar;
  src: url(https://fonts.google.com/specimen/Nunitohttps://fonts.google.com/specimen/Mukta+Malar?query=Mukta+?query=nun);
  color: black;  
  background-color: #FFFFFF; 
 
}


h2 { /* dit is de code voor elke h2 als je die aanroept in de code */
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: black;  
  border-radius: 8px;
}

.nav-container{
  width: 20%;
  height: 100vh;
  display: inline-block;
  flex-direction: column;
  position: relative;
  margin-top: -70em;
  margin-left: 1em;
  color: white;
  
}

.nav-container a{
  color: white;
  text-decoration: none;
}

.nav-container p:hover{
  color: #24F2F2;
}

.nav-container p{
  color: white;
  text-decoration: none;
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  font-weight: bold;
  font-size: 26px;
}

/* code login pagina Joris */

*
{
  box-sizing: border-box;
}

body
{
  padding: 0;
  margin: 0;
}

#app
{
  max-width: 500px;
  margin: 2em auto;
  border: 1px solid #3150C4;
  padding: 1em;
  border-radius: 8px;
 
}

h1
{
  font-size: 1.2em;
  text-align: center;
}

.alert
{
  background-color: #EFEEF1;
  border: 1px solid #E91C24;
  border-radius: 5px;
  border-left-width: 5px;
  padding: 1em;
}

.nav--login
{
  padding: 0.3em;
}

.nav--login a
{
  color:#24F2F2;
  text-decoration: none;
  margin-right: 1em;
}

.form
{
  padding: 0.5em;
}

.form label
{
  display: block;
  margin-top: 0.5em;
}

.form input
{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.nav--login
{
  border-bottom: 2px solid #3150C4;
  margin-bottom: 1em;
}


.nav a
{
  margin: 0 1em;
  text-decoration: none;
}

a.loggedIn
{
  flex: 0 1 240px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.hidden
{
  display: none;
}

/* einde code login Joris */


.vormpje{
  width: 375px;
  height: 282px;
  margin-top: -3em;
  margin-left: -3em;
 
}

/* code sign up */

.logo {
  width: 200px;
  height: 40px;
  margin: 0 auto 20px;
  display: block;
  padding-top: 6em;

}


.text-signup{
  width: 250px;
  display: block; 
  margin: 0 auto 30px;
  text-align: center;

    
}

.input-signup{
  width: 250px;
  display: block; 
  margin: 0 auto 30px;
  margin-top: 50px;
  
}

.input-signup label{
  width: 250px;
  display: block; 
  margin: 5 auto ;
}

.input-signup input{
  width: 300px;
  display: block; 
  margin: 0 auto ;
}



.btn{ /* dit is de code voor elke button je moet de classe btn gebruiken en dan krijgt dit dezelfde opmaak */
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin: 0 auto 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 2em;
  
}

/* code login */

.form-login{
  width: 550px;
  display: block; 
  margin: 0 auto 30px;
  padding: 100px;
  margin-top: 50px;
  padding-bottom: 1em;
  padding-top: 1em;
  
}

.input-login label{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  padding-top: 1em;
}

.input-login input{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
}

.form-login a {
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  text-decoration: none;
  color: #3150C4;
}

.register{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  text-decoration: none;
  color: #3150C4;
  margin-top: 6em;
}

.hexagon {
  width: 200px;
  height: 220px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex-img {
  width: 100%;
  height: auto;
  transform: rotate(-1deg) scale(1.15);
  object-fit: cover;
  object-position: center;
}


/* code dashbord */

.logo-wit {
  width: 150px;
  height: 30px;
  display: block;

}

.row{
  background-color: rgb(49,80,196);
  width: 170px;
  height: 895px;
  margin-top: -3.1em;
 
 
}

.search{
  background-color: #000000;
  width: 1440;
  height: 30px;
  padding: 10px;
  margin-left: 10.6em;
}

.image-container {
  position: relative;
  margin-bottom: -30em;
}

.logo-wit{
  position: absolute;
  top: 50px;
  left: 50px;
  margin-left: -2.5em;
  margin-top: -5.6em;
}

.projects{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
}

.info {
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
}
