body{ /* dit is de code voor elke body text als je die aanroept in de code */
  font-family: Barlow Semi Condensed;
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed?query=barl);
  color: black;  
  font-weight: 100;
  background-color: #FFFFFF;
}

h1 { /* dit is de code voor elke h1 als je die aanroept in de code */
  font-family: Mukta Malar;
  src: url(https://fonts.google.com/specimen/Nunitohttps://fonts.google.com/specimen/Mukta+Malar?query=Mukta+?query=nun);
  color: black;  
  background-color: #FFFFFF; 
}


h2 { /* dit is de code voor elke h2 als je die aanroept in de code */
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: black;
}

.nav-container{
  width: 20%;
  display: inline-block;
  flex-direction: column;
  padding-top: -10em;
  padding-left: 1em;
  color: white;
}

.nav-container a{
  color: white;
  text-decoration: none;
}

.nav-container p:hover{
  color: #24F2F2;
}

.nav-container p{
  color: white;
  text-decoration: none;
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  font-weight: bold;
  font-size: 26px;
}

#app
{
  max-width: 500px;
  margin: 2em auto;
  border: 1px solid #3150C4;
  padding: 1em;
  border-radius: 8px;
 
}

h1
{
  font-size: 1.2em;
  text-align: center;
}

.alert
{
  background-color: #EFEEF1;
  border: 1px solid #E91C24;
  border-radius: 5px;
  border-left-width: 5px;
  padding: 1em;
}

.nav--login
{
  padding: 0.3em;
}

.nav--login a
{
  color:#24F2F2;
  text-decoration: none;
  margin-right: 1em;
}

.form
{
  padding: 0.5em;
}

.form label
{
  display: block;
  margin-top: 0.5em;
}

.form input
{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.nav--login
{
  border-bottom: 2px solid #3150C4;
  margin-bottom: 1em;
}


.nav a
{
  margin: 0 1em;
  text-decoration: none;
}

a.loggedIn
{
  flex: 0 1 240px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.hidden
{
  display: none;
}

.vormpje{
  width: 375px;
  height: 282px;
  margin-top: -3em;
  margin-left: -3em;
}

.vorm-omgedraaid{
  margin-left: 60em;
  width: 448px;
  height: 338px;

}

*
{
  box-sizing: border-box;
}

body
{
  padding: 0;
  margin: 0;
  height: 100%;
}

#app
{
  max-width: 500px;
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;

  border: 1px solid #3150C4;
}

h1
{
  font-size: 1.2em;
  text-align: center;
}

.alert
{
  background-color: #EFEEF1;
  border: 1px solid #E91C24;
  border-radius: 5px;
  border-left-width: 5px;
  padding: 1em;
}

.form
{
  padding: 0.5em;
}

.form label
{
  display: block;
  margin-top: 0.5em;
}

.form input
{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.nav a
{
  margin: 0 1em;
  text-decoration: none;
}

a.loggedIn
{
  flex: 0 1 240px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.nav a
{
  color: #B4C4E7;
}

.nav a:hover
{
  color: #fff;
}

.hidden
{
  display: none;
}

/* einde code login Joris */


/* code sign up */

.logo {
  width: 200px;
  height: 40px;
  margin: 0 auto 20px;
  display: block;
  padding-top: 6em;

}


.text-signup{
  width: 250px;
  display: block; 
  margin: 0 auto 30px;
  text-align: center;   
}

.input-signup{
  width: 250px;
  display: block; 
  margin: 0 auto 30px;
  margin-top: 50px;
  
}

.input-signup label{
  width: 250px;
  display: block; 
  margin: 5 auto ;
}

.input-signup input{
  width: 300px;
  display: block; 
  margin: 0 auto ;
}

.btn{ /* dit is de code voor elke button je moet de classe btn gebruiken en dan krijgt dit dezelfde opmaak */
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: -6em;
}

.btn a{
  text-decoration: none;
  color:#FFFFFF ;
}

/* code login */

.form-login{
  width: 550px;
  display: block; 
  margin: 0 auto 30px;
  padding: 100px;
  margin-top: 50px;
  padding-bottom: 1em;
  padding-top: 1em;
  
}

.input-login label{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  padding-top: 1em;
}

.input-login input{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
}

.form-login a {
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  text-decoration: none;
  color: #3150C4;
}

.register{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  text-decoration: none;
  color: #3150C4;
  margin-top: 6em;
}

/* code dashbord admin NAV MOET AANGEPAST WORDEN VOOR NORMALE USERS */
.body-content {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.column{
  flex: 1;
}

.sidebar {
  width: 15%;
  background-color: #3150C4;
  display: flex;
  flex-direction: column;

}

.main {
  flex: 1;
 
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;
  background-color: black;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content h2 {
  margin-left: 100px;
}

.project{
  align-items: center;
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin: 15px;
  margin-inline: 100px;
  background-color:lavender;
}

.project h3, .project p{
  margin-left: 10px;
}

.deadlines{
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

.deadlines h3, .deadlines p{
  margin-left: 10px;
}

.gebruikers{
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

.gebruikers h2, .gebruikers h3, .gebruikers p{
  text-align: start;
  margin-left: 10px;
}

.column-users-container {
  display: flex;
}

.column-users{
  flex-basis: 50%;
}

.gebruikers-image {
  text-align: center;
  margin: 10px;
}

.gebruikers-image img {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.sidebar .image-container {
  width: 200px; /* Custom width */
  height: auto;
  margin: 10px;
}

.sidebar .image-container img {
  width: 100%;
  height: 100%;
}

/* code badges admin maar kan ook voor de normale user */

.omgedraaid-vormpje img{
  width: 400px;
  height: 300px;
  margin-left: 95em;
  margin-top: -20em;
}

.badges{
  margin-left: 20em;
  margin-top: 5em;
}

/* de foto's nog aanpassen naar de echte foto's */
.badges img{
  width: 25px;
  height:  35px;
}

/* code instellingen admin */

.column-instellingen{
  width: 250px;
  display: inline-block; 
  /* margin: 0 auto 30px; */
  margin-left: 2em;
  margin-top: 5em;
}

.column-instellingen input{
  width: 550px;
  padding: 1em;
  display: inline-block; 
  border-radius: 8px;
}

.content-instellingen{
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2em; 
}

.Btn{
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 5em;
  margin-left: 23em;
}

.Btn a{
  text-decoration: none;
  color: #FFFFFF;
}

.foto img{
  width: 184.5px; /* 738px */
  height: 224.5px; /* 899px */
  margin-left: 60em;
  margin-top: -40em;
}

.foto{
  width: 110px;
  height: 205px;
}

.bewerken{
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin-left: 26em;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 8em;
}

.bewerken a{
  text-decoration: none;
  color: #FFFFFF;
}

.profielfoto{
  width: 110px;
  height: 205px;
}

.profielfoto img{
  width: 184.5px; /* 738px */
  height: 224.5px; /* 899px */
  margin-left: 60em;
  margin-top: -20em;
}

/* code categorieën */

.categorieën{ 
  margin-left: 20em;
  margin-top: -55em ;
}

.checkbox-container{
  display: flex;
  margin-left: 20em;
  flex-direction: column;
  margin-left: 20em;
  /* background-color: #24F2F2; */
  
}

.checkbox-label {
  margin-left: 20px;
  /* background-color: #3150C4; */
}

/* code profieluser */
.bewerken{
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin-left: 26em;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 6em;
}

.bewerken a{
  text-decoration: none;
  color: #FFFFFF;
}

.uitloggen{
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin-left: 26em;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 6em;
 
}

.uitloggen a{
  text-decoration: none;
  color: white;
}


.column-profile{
  margin-top: -26em;
}

.tags{
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin-left: 50em;
  margin-right: 40px;
  margin-top: -640px;
  display: flex;
  flex-direction: row;
  background-color: lavender;
}

.tags p{
  margin: 5px;
}

.certificaten{
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin-left: 50em;
  margin-right: 40px;
  margin-top: 10px;
  background-color: lavender;
}

.btns{
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin-left: 26em;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: -10em;
}

.btns a{
  text-decoration: none;
  color: #FFFFFF;
}

.button{
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin-left: 26em;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 1em;
}

.button a{
  text-decoration: none;
  color: #FFFFFF;
}

.profielf {
  width: 110px;
  height: 205px;
}

.profielf img{
  width: 184.5px; /* 738px */
  height: 224.5px; /* 899px */
  margin-left: 60em;
  margin-top: -300px;
}


/* code eigen skills */

.content-skills div{
  margin-left: 8em;
  padding: 1em;
  margin-top: 5em;
  font-size: 1.2em;
}

.content-skills h2{
  margin-left: 8em;
  margin-top:5em;
}

.skills{
  margin: 15px;
  margin-left: 100px;
  margin-right: 400px;
  margin-top: 10em;

}

.skills h2, .skills h3, .skills p{
  text-align: start;
  margin-left: 10px;
}

.column-skills-container {
  display: flex;
}

.column-skills{
  flex-basis: 50%;
}

.skills-image {
  text-align: center;
  margin: 10px;
}

.skills-image img {
  margin: 0 auto;
  width: 218.75px;  /* 1750px */
  height: 32.5px; /* 260px */
}

.skillsaanduiden {
  display: flex;
  flex-direction: column;
}

.column-skillsaanduiden-container {
  display: flex;
}

.column-skillsaanduiden {
  display: flex;
  flex-direction: column;
  margin-left: 8em;
}

#myCheckbox {
  margin-bottom: 5px;
  margin-right: 200px;
}

.text {
  margin-left: 40px;
  margin-top: -5px;
}

/* Chat */

.personen{
  align-items: center;
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin: 30px;
  margin-inline: 12px;
  background-color:lavender;
  padding-bottom: 45em;
}

.personen h3{
  margin-left: 10px;
}

.chat{
  align-items: center;
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin: 30px;
  margin-inline: 12px;
  background-color:#EFEEF1;
  padding-bottom: 45em;
}

.chat h3{
  margin-left: 10px;
}

.column-chat-container{
  display: flex;
}

.mensenZoeken{
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin: 15px;
  margin-right: 650px;
  padding-bottom: 80px;
  background-color: lavender;
}

.mensenZoeken h2, .mensenZoeken h3, .mensenZoeken p{
  text-align: start;
  margin-left: 10px;
}

.mensenZoeken-image {
  text-align: center;
  margin: 10px;
}

.mensenZoeken-image img {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.mensenChatten{
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin-top: -52.5em;
  margin-left: 640px;
  margin-right: 20px;
  padding-bottom: 25px ;
}

.mensenChatten h2, .mensenChatten h3, .mensenChatten p{
  text-align: start;
  margin-left: 10px;
}

.mensenChatten-image {
  text-align: center;
  margin: 10px;
}

.mensenChatten-image img {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

#gesprek input{
  padding: 0.8em;
  width: 600px;
  border-radius: 8px;
  border: 2px solid #3150C4;
  background-color: #3150C4;
}

.chat-container {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 300px;
}

.message-container1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 300px;
}

.message {
  border: 1px solid #24F2F2;
  padding: 5px 10px;
  border-radius: 5px;
}

.message1 {
  border: 1px solid #3150C4;
  padding: 5px 10px;
  border-radius: 5px;
}

.timestamp {
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
}

.input-container {
  margin-top: 10px;
  margin-left: 40px;
  
}

.input-container input[type="text"] {
  width: 80%;
  margin-top: 110px;
  padding: 10px;
  border: 2px solid #3150C4;
  border-radius: 8px;
}

.input-container button {
  padding: 10px 15px;
  background-color: #3150C4;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

.chat-list {
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 130px;
  max-width: 500px;
  margin-left: 50px;
  margin-top: 40px;
  background-color: #B4C4E7;
}

.chat-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.chat-info {
  margin-left: 10px;
}

.name {
  font-weight: bold;
}

.status {
  font-size: 0.8em;
  color: gray;
}

.chat-container {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}

#zoeken{
  margin-top: 20px;
}

#zoeken input{
  padding: 0.8em;
  width: 500px;
  margin-left: 50px;
  border-radius: 8px;
  border: 2px solid #3150C4;
}

#menu{
  margin-left: 10px;
  margin-top: 8px;
}

#menu input{
  padding: 0.5em;
  width: 500px;
  margin-left: 50em;
  border-radius: 8px;
  border: 2px solid #3150C4;
}

#menu a{
  margin-left: 10px;
  margin-top: 8px;
}

#menuutje{
  margin-left: 10px;
  margin-top: 8px;
}

#menuutje input{
  padding: 0.5em;
  width: 500px;
  margin-left: 50em;
  border-radius: 8px;
  border: 2px solid #3150C4;
}

#menuutje a{
  margin-left: 10px;
  margin-top: 8px;
}

/* code werknemers */

.werknemers{
  border: 1px solid #3150C4;
  border-radius: 8px;
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
}

.werknemers h3, .werknemers p{
  margin-left: 10px;
}