body{ /* dit is de code voor elke body text als je die aanroept in de code */
  font-family: Barlow Semi Condensed;
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed?query=barl);
  color: black;  
  font-weight: 100;
  background-color: #FFFFFF; 
 
}

h1 { /* dit is de code voor elke h1 als je die aanroept in de code */
  font-family: Mukta Malar;
  src: url(https://fonts.google.com/specimen/Nunitohttps://fonts.google.com/specimen/Mukta+Malar?query=Mukta+?query=nun);
  color: black;  
  background-color: #FFFFFF; 
 
}


h2 { /* dit is de code voor elke h2 als je die aanroept in de code */
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: black;  
  
}

.nav-container{
  width: 20%;
  height: 100vh;
  display: inline-block;
  flex-direction: column;
  position: relative;
  margin-top: -70em;
  margin-left: 1em;
  color: white;
  
}

.nav-container a{
  color: white;
  text-decoration: none;
}

.nav-container p:hover{
  color: #24F2F2;
}

.nav-container p{
  color: white;
  text-decoration: none;
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  font-weight: bold;
  font-size: 26px;
}

.vormpje{
  width: 375px;
  height: 282px;
  margin-top: -3em;
  margin-left: -3em;
 
}

/* code sign up */

.logo {
  width: 200px;
  height: 40px;
  margin: 0 auto 20px;
  display: block;
  padding-top: 6em;

}


.text-signup{
  width: 250px;
  display: block; 
  margin: 0 auto 30px;
  text-align: center;   
}

.input-signup{
  width: 250px;
  display: block; 
  margin: 0 auto 30px;
  margin-top: 50px;
  
}

.input-signup label{
  width: 250px;
  display: block; 
  margin: 5 auto ;
}

.input-signup input{
  width: 300px;
  display: block; 
  margin: 0 auto ;
}



.btn{ /* dit is de code voor elke button je moet de classe btn gebruiken en dan krijgt dit dezelfde opmaak */
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin: 0 auto 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 2em;
}

.btn a{
  text-decoration: none;
  color:#FFFFFF ;
}

/* code login */

.form-login{
  width: 550px;
  display: block; 
  margin: 0 auto 30px;
  padding: 100px;
  margin-top: 50px;
  padding-bottom: 1em;
  padding-top: 1em;
  
}

.input-login label{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  padding-top: 1em;
}

.input-login input{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
}

.form-login a {
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  text-decoration: none;
  color: #3150C4;
}

.register{
  width: 300px;
  display: block; 
  margin: 5 auto 30px;
  margin-left: 120px;
  text-decoration: none;
  color: #3150C4;
  margin-top: 6em;
}

.hexagon {
  width: 200px;
  height: 220px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex-img {
  width: 100%;
  height: auto;
  transform: rotate(-1deg) scale(1.15);
  object-fit: cover;
  object-position: center;
}


/* code dashbord admin NAV MOET AANGEPAST WORDEN VOOR NORMALE USERS */

.logo-wit {
  width: 150px;
  height: 30px;
  display: block;

}

.row{
  background-color: rgb(49,80,196);
  width: 170px;
  height: 895px;
  margin-top: -3.1em;
 
 
}

.search{
  background-color: #000000;
  width: 1440;
  height: 30px;
  padding: 10px;
  margin-left: 10.6em;
}

/* .image-container {
  width: 530px;
  height: 445px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  
} */


.image-container {
  width: 200px;
  height: 850px;
  position: relative;
  margin-bottom: -30em;
}


.logo-wit{
  position: absolute;
  top: 50px;
  left: 50px;
  margin-left: -2.5em;
  margin-top: -5.6em;
}

.lopende-projecten{
  position: relative;
  display: inline-block;
  background-color: #24F2F2;
  margin-left: 20em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 2em;
  font-size: 14px;
  border-radius: 8px ;
  border: 1px solid #3150C4;
  
}

.projecten{
  position: relative;
  /* background-color: red; */
}


.project{
  display: inline-block;
  position: relative;
  border: 1px solid #3150C4;
  border-radius: 8px ;
  margin-left: 20em;
  margin-right: 40em;
  padding-left: 1em;
  padding-right: 2em;
  font-size: 14px;
  margin-top: 0.5em;
}

.project p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.eigen-projecten{
  position: relative;
  display: inline-block;
  background-color: #24F2F2;
  margin-left: 60em;
}

.eigen-projecten h2{
  position: relative;
  background-color: blue;
  margin-top: -75em;

}

/* code is nog niet klaar dashbord */




/* code badges admin maar kan ook voor de normale user */

.omgedraaid-vormpje img{
  width: 400px;
  height: 300px;
  margin-left: 95em;
  margin-top: -20em;
}

.badges{
  margin-left: 20em;
  margin-top: -50em;
}

/* de foto's nog aanpassen naar de echte foto's */
.badges img{
  width: 25px;
  height:  35px;
}

/* code instellingen admin */

.instellingen{
  width: 250px;
  display: block; 
  /* margin: 0 auto 30px; */
  margin-left: 20em;
  margin-top: -50em ;
  
}

.instellingen label{
  width: 250px;
  display: block; 
  margin: 10px;
  padding: 0.5em;
}

.instellingen input{
  width: 400px;
  padding: 1em;
  display: block; 
  margin: 10px;
  border-radius: 8px;
}

.bewerken{
  font-family: Oswald;
  src: url(https://fonts.google.com/specimen/Nuhttps://fonts.google.com/specimen/Oswald?query=oswaldnito?query=nun);
  color: #FFFFFF;  
  background-color: #3150C4;
  width: 250px;
  display: block; 
  border: 8px;
  margin-left: 26em;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 6em;
}

.bewerken a{
  text-decoration: none;
  color: #FFFFFF;
}

.profielfoto img{
  width: 310px;
  height: 305px;
  margin-left: 60em;
  margin-top: -35em;
}

/* code categorieën */

.categorieën{ 
  margin-left: 20em;
  margin-top: -55em ;
}

/* .checkbox-container {
  position: relative;
  margin-left: 20em;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkbox-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: -1;
} */

.checkbox-container{
  display: flex;
  margin-left: 20em;
  flex-direction: column;
  margin-left: 20em;
  /* background-color: #24F2F2; */
  
  }

.checkbox-label {
  margin-left: 20px;
  /* background-color: #3150C4; */
}

